<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Listings
    </ion-title>
    <ion-buttons slot="end" (click)="newParking()">
      <ion-icon slot="icon-only" name="add"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="/assets/br.jpg"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>Get Started</ion-card-subtitle>
        <ion-card-title>Baton Rouge</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>These are current listings for Baton Rouge</p>
      </ion-card-content>
    </ion-card>

    <!-- <ion-card class="welcome-card">
      <ion-img src="/assets/br.jpg"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>Get Started</ion-card-subtitle>
        <ion-card-title>Baton Rouge</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Now that your app has been created, you'll want to start building out features and components. Check out some of the resources below for next steps.</p>
      </ion-card-content>
    </ion-card> -->

    <!-- <ion-list>
    <ion-item *ngFor="let item of items" (click)="onSelect(item)">
      <ion-icon name="cash" slot="start"></ion-icon>
      {{item.description}}
    </ion-item>
  </ion-list> -->

  <ion-card *ngFor="let item of parkingService.parking" (click)="onSelect(item)">
      <ion-card-header>
        <ion-icon name="cash" slot="start"></ion-icon>
        ${{ item.cost }} - {{ item.user }}
      </ion-card-header>
      <ion-card-content>
        {{ item.description }}
      </ion-card-content>
    </ion-card>



</ion-content>
