<ion-header>
  <!-- <ion-toolbar>
    <ion-title>Register</ion-title>
  </ion-toolbar> -->
</ion-header>

<ion-content force-overscroll="false">
  <gl-background-video src="assets/background-video/background-video.mp4" poster="assets/background-video/background-video-image.png"></gl-background-video>
<div class="page-centered-element">
  <div class="content">
    <h1>Sign up</h1>
      <h5>This is Sparkr</h5>
      <div class="buttons-container">
  <form (submit)="doSignup()" class="form-div">
    <ion-list>
      <ion-item>
        <ion-label position="stacked">Email</ion-label>
        <ion-input type="email" [(ngModel)]="account.email" name="email"> </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Password</ion-label>
        <ion-input type="password" [(ngModel)]="account.password1" name="password1"> </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Password (confirm)</ion-label>
        <ion-input type="password" [(ngModel)]="account.password2" name="password2"> </ion-input>
      </ion-item>

      <ion-button type="submit">Submit</ion-button>
    </ion-list>

  </form>
  <div class="login-div" (click)="gotoLogin()">Already have an account? Tap here to login.</div>
</div>
</div>
</div>
</ion-content>
